---
http_interactions:
- request:
    method: get
    uri: https://api.youmagine.com/v1/designs?auth_token=foobar&limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Pagination-First-Page:
      - '1'
      X-Pagination-Last-Page:
      - '1029'
      X-Pagination-Next-Page:
      - '2'
      X-Pagination-Total-Count:
      - '10282'
      Etag:
      - W/"0bf10356609b582f13d3f24edfe7628e"
      X-Pagination-Per-Page:
      - '10'
      X-Pagination-Current-Page:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":14714,"name":"M4 barrel extension picatinny rail ","slug":"m4-barrel-extension-picatinny-rail","description":"4
        needed for M4 barrel extension","user_id":68640,"created_at":"2016-12-09T11:43:37.503+01:00","updated_at":"2016-12-09T11:51:22.952+01:00","primary_image_id":155056,"license":"ccbyncnd","state":"published","design_category_id":10,"excerpt":"185mm
        picatinny rail for 40mm pipe","last_trending_popularity":0.0,"current_delta_popularity":0.0,"materials":"","documents_zip":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/design/documents_zip/14714/m4-barrel-extension-picatinny-rail.zip"},"download_count":1,"documents_download_count":0,"attribution":"","tags":[{"id":12957,"name":"M4","taggings_count":4},{"id":1237,"name":"NERF","taggings_count":36},{"id":12958,"name":"Barrel
        extension","taggings_count":4}],"user":{"id":68640,"screen_name":"jodocast"},"primary_image":{"file":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/jamrendering_14714_5219620161209-19900-jzvf50.png","small":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/small_jamrendering_14714_5219620161209-19900-jzvf50.png"},"medium":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/medium_jamrendering_14714_5219620161209-19900-jzvf50.png"},"large":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/large_jamrendering_14714_5219620161209-19900-jzvf50.png"},"span4":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/span4_jamrendering_14714_5219620161209-19900-jzvf50.png"},"span2":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/span2_jamrendering_14714_5219620161209-19900-jzvf50.png"},"span1":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/span1_jamrendering_14714_5219620161209-19900-jzvf50.png"},"mini":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/mini_jamrendering_14714_5219620161209-19900-jzvf50.png"},"grid":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/grid_jamrendering_14714_5219620161209-19900-jzvf50.png"},"carousel":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/carousel_jamrendering_14714_5219620161209-19900-jzvf50.png"},"carousel_thumb":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155056/carousel_thumb_jamrendering_14714_5219620161209-19900-jzvf50.png"}}}},{"id":14713,"name":"Nerf
        tac light clip","slug":"nerf-tac-light-clip","description":"Nerf tac light
        clip","user_id":68640,"created_at":"2016-12-09T11:35:52.892+01:00","updated_at":"2016-12-09T11:51:34.046+01:00","primary_image_id":155055,"license":"ccbyncnd","state":"published","design_category_id":10,"excerpt":"Nerf
      [...]
