---
http_interactions:
- request:
    method: get
    uri: https://api.youmagine.com/v1/designs?auth_token=foobar&limit=18&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Pagination-First-Page:
      - '1'
      X-Pagination-Last-Page:
      - '572'
      X-Pagination-Next-Page:
      - '2'
      X-Pagination-Total-Count:
      - '10280'
      Etag:
      - W/"fc97d8dd5dd9081508c93887a3ec89d6"
      X-Pagination-Per-Page:
      - '18'
      X-Pagination-Current-Page:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":14712,"name":"Stryfe 180 Motor Cover","slug":"stryfe-180-motor-cover","description":"Stryfe
        180 Motor Cover","user_id":68640,"created_at":"2016-12-09T11:33:39.690+01:00","updated_at":"2016-12-09T11:34:54.826+01:00","primary_image_id":155054,"license":"ccbyncnd","state":"published","design_category_id":10,"excerpt":"Stryfe
        180 Motor Cover","last_trending_popularity":0.0,"current_delta_popularity":0.0,"materials":"","documents_zip":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/design/documents_zip/14712/stryfe-180-motor-cover.zip"},"download_count":1,"documents_download_count":0,"attribution":"","tags":[{"id":1237,"name":"NERF","taggings_count":34},{"id":12966,"name":"stryfe","taggings_count":1},{"id":12967,"name":"motor
        cover","taggings_count":1}],"user":{"id":68640,"screen_name":"jodocast"},"primary_image":{"file":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/jamrendering_14712_5219420161209-18447-bsqu24.png","small":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/small_jamrendering_14712_5219420161209-18447-bsqu24.png"},"medium":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/medium_jamrendering_14712_5219420161209-18447-bsqu24.png"},"large":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/large_jamrendering_14712_5219420161209-18447-bsqu24.png"},"span4":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/span4_jamrendering_14712_5219420161209-18447-bsqu24.png"},"span2":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/span2_jamrendering_14712_5219420161209-18447-bsqu24.png"},"span1":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/span1_jamrendering_14712_5219420161209-18447-bsqu24.png"},"mini":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/mini_jamrendering_14712_5219420161209-18447-bsqu24.png"},"grid":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/grid_jamrendering_14712_5219420161209-18447-bsqu24.png"},"carousel":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/carousel_jamrendering_14712_5219420161209-18447-bsqu24.png"},"carousel_thumb":{"url":"https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/155054/carousel_thumb_jamrendering_14712_5219420161209-18447-bsqu24.png"}}}},{"id":14711,"name":"KG9
        Barrel extension","slug":"kg9-barrel-extension","description":"Nerf KG9 barrel
        extension","user_id":68640,"created_at":"2016-12-09T11:28:11.370+01:00","updated_at":"2016-12-09T11:33:02.549+01:00","primary_image_id":155053,"license":"ccbyncnd","state":"published","design_category_id":10,"excerpt":"KG9[...]
